
.h2Detail{
    font-size: 40px;
    margin: 10;
    padding: 0;
    
}

.text{
    overflow: hidden;
    word-break: break-all;
    font-size: 20px;
    color:#06202B;
}
img{
    width: 1000px;
    height: 500px;
    border-radius: 10px;
}