.PostCard {
  width: 300px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  background-color: #077A7D;
  color: #F5EEDD;
  -webkit-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.95);
  -moz-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.95);
  box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.95);
  transition: 0.2s scale;
  
 
}
.PostCard:hover{
  scale: 1.05;
}


.cardTop {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cardTop h2 {
  font-size: 1.2rem;
  margin: 0;
}
.image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
.cardTop p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Показывает 3 строки текста */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: #333;
}
.cardBottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 0.9rem;
  justify-content: space-between;
}
.date {
  margin-left: 8px;
  color: #333333;
}