.main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 0;
}

.header {
    background-color: #D6C0B3;
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
}

.hButtons {
    display: flex;
    gap: 10px;
    justify-self: end;
}

/* Для первой кнопки */
.main > button:first-child {
    justify-self: start;
}