.main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 0;
}

.header {
    background-color: #6fbcb9;
    top: 0;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.95);
  -moz-box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.95);
  box-shadow: 0px 0px 22px -4px rgba(0, 0, 0, 0.95);
  position: relative;
}

.hButtons {
    display: flex;
    gap: 10px;
    justify-self: end;
}


.main > button:first-child {
    justify-self: start;
}

.deleteButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}